<!-- col-md-8 srodkuje pola -->
<div class="container col-md-6">
    <h1 style="color: blue; ">User Login</h1>
    <!-- manipuluje dlugoscia pól -->
    <!-- <form class="col-5"> -->
    <form (ngSubmit)="userLogin()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nick Name</label>
            <input type="text" [(ngModel)]="user.login" class="form-control" id="login" name="login" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
  <!-- pole tekstowe -->
  <!-- <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> -->